<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a routerLink="" class="header__logo-container">
                <img src="../../../../assets/images/logo.png" alt="courses logo" class="header__logo">
            </a>
            <ng-container *ngIf="(currentLoggedUser | async) != null">
                <div class="header__controls">
                    <p class="header__controls-item">
                        <i class="header__icon fa fa-user" aria-hidden="true"></i>
                        {{(currentLoggedUser | async).firstName + ' ' + (currentLoggedUser | async).lastName }}
                    </p>
                    <a
                            class="header__controls-item"
                            (click)="onLogOff()">
                        <i class="header__icon fa fa-sign-out" aria-hidden="true"></i>
                        Log off
                    </a>
                </div>
            </ng-container>
            <ng-container *ngIf="(currentLoggedUser | async) == null">
                <a
                        class="header__link"
                        (click)="onLogIn()"
                        routerLink="/login">
                    <i class="header__icon fa fa-sign-in" aria-hidden="true"></i>
                    User login
                </a>
            </ng-container>
        </div>
    </div>
</header>
