<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a routerLink="" class="header__logo-container">
                <img [src]="logo" alt="courses logo" class="header__logo">
            </a>

            <ng-container
                    *ngIf="isLogged; then loggedIn; else loggedOut">
            </ng-container>

            <ng-template #loggedIn>
                <div class="header__controls">
                    <p class="header__controls-item">
                        <i class="header__icon fa fa-user" aria-hidden="true"></i>
                        {{userName}}
                    </p>
                    <a
                            class="header__controls-item"
                            (click)="onLogOff()">
                        <i class="header__icon fa fa-sign-out" aria-hidden="true"></i>
                        Log off
                    </a>
                </div>
            </ng-template>

            <ng-template #loggedOut>
                <a
                        class="header__link"
                        (click)="onLogIn()" routerLink="login">
                    <i class="header__icon fa fa-sign-in" aria-hidden="true"></i>
                    User login
                </a>
            </ng-template>
        </div>
    </div>
</header>
