<div class="container">
    <form
            class="search"
            (ngSubmit)="onSubmit()">
        <div class="search__controls">
            <i class="search__icon fa fa-search" aria-hidden="true"></i>
            <input
                    type="text"
                    (focus)="placeholder = ''"
                    (focusout)="placeholder = 'Text to search'"
                    placeholder="{{placeholder}}"
                    formControlName="searchText"
                    class="search__input"
                    (change)="onInputChange(searchForm.controls.searchText.value.length)">
            <button
                    class="search__button"
                    type="submit">Search
            </button>
        </div>
    </form>
</div>
