<div class="container">
    <div
            class="search">
        <div class="search__controls">
            <i class="search__icon fa fa-search" aria-hidden="true"></i>
            <input  #search
                    type="text"
                    (focus)="placeholder = ''"
                    (focusout)="placeholder = 'Text to search'"
                    placeholder="{{placeholder}}"
                    class="search__input"
                    [(ngModel)]="value">
        </div>
    </div>
</div>
