<div class="course-form__container" [ngClass]="{'separate' : isSeparate}">
    <form
            [formGroup]="courseForm"
            (ngSubmit)="onCourseSubmit()"
            class="course-form">
        <p class="course-form__title">{{title}}</p>
        <div class="course-form__item">
            <div class="course-form__item-caption">
                <label for="title" class="course-form__label">Title:</label>
            </div>
            <div class="course-form__error-container">
                <input
                        id="title"
                        type="text"
                        class="course-form__input"
                        formControlName="title"
                        placeholder="Text input"
                        [class.is-invalid]="title.invalid &&title.touched">
            </div>
            <span class="error" *ngIf="title.hasError('required') && title.touched">*required</span>
            <span class="error" *ngIf="title.hasError('maxlength') && title.touched">the maximum length is 50 characters</span>
        </div>
        <div class="course-form__item">
            <div class="course-form__item-caption">
                <label for="description" class="course-form__label">Description:</label>
            </div>
            <div class="course-form__error-container">
                <textarea
                        id="description"
                        type="text"
                        class="course-form__textarea"
                        formControlName="description"
                        placeholder="Add description"
                        [class.is-invalid]="description.invalid && description.touched">>
                </textarea>
                <span class="error" *ngIf="description.hasError('required') && description.touched">*required</span>
                <span class="error" *ngIf="description.hasError('maxlength') && description.touched">the maximum length is 500 characters</span>
            </div>
        </div>

        <div class="course-form__item course-form__item_short">
            <div class="course-form__item-caption">
                <label for="duration" class="course-form__label">Duration:</label>
            </div>
            <div class="course-form__error-container">
                <input
                        id="duration"
                        type="text"
                        class="course-form__input"
                        formControlName="duration"
                        placeholder="minutes">
            </div>
            <span class="error" *ngIf="duration.hasError('required') && duration.touched">*required</span>
            <span class="error" *ngIf="duration.hasError('onlyNumbers') && duration.touched">the duration should contain only numbers allow</span>
        </div>

        <div class="course-form__item course-form__item_short">
            <div class="course-form__item-caption">
                <label for="creationDate" class="course-form__label">Date:</label>
            </div>
            <div class="course-form__error-container">
                <input
                        id="creationDate"
                        type="text"
                        class="course-form__input"
                        formControlName="creationDate"
                        placeholder="mm-dd-yyyy">
            </div>
            <span class="error" *ngIf="creationDate.hasError('required') && creationDate.touched">*required</span>
            <span class="error" *ngIf="creationDate.hasError('dateFormat') && creationDate.touched">the date should be in the format 'mm/dd/yyyy'</span>
        </div>

        <div class="course-form__item course-form__item_middle course-form__item_list">
            <div class="course-form__item-caption">
                <label for="authors" class="course-form__label">Authors:</label>
                <span class="course-form__required">*required</span>
            </div>
            <div class="course-form__error-container">
                <input
                        id="authors"
                        type="text"
                        class="course-form__input"
                        [formControl]="authorsFormControl"
                        placeholder="Start typing"
                        autocomplete="off"
                        (click)="selectAuthor()">
                <span class="error" *ngIf="authors.hasError('required') && authors.touched">*required</span>
                <span class="error" *ngIf="authors.hasError('minAuthorLength') && authors.touched">please select at least one author</span>
            </div>
            <div
                    class="course-form__autocomplete"
                    *ngIf="isAutocompleteVisible">
                <div
                        *ngFor="let author of listOfAuthors"
                        class="course-form__autocomplete-item"
                        [ngClass]="isSelected(author) ? 'selected' : ''"
                        (click)="addAuthor(author)">
                    {{ author.name }}
                </div>
            </div>
        </div>
        <div class="course-form__controls">
            <button type="button"
                    class="course-form__button button_decline button" (click)="onCancelClick()">Cancel</button>
            <button
                    class="course-form__button button_success button" type="submit">Save</button>
        </div>
    </form>
</div>

