<div class="course-form__container" [ngClass]="{'separate' : isSeparate}">
    <form
            [formGroup]="courseForm"
            (ngSubmit)="onCourseSubmit()"
            class="course-form">
        <p class="course-form__title">{{title}}</p>
        <div class="course-form__item">
            <div class="course-form__item-caption">
                <label for="title" class="course-form__label">Title:</label>
                <span class="course-form__required">*required</span>
            </div>
            <div class="course-form__error-container">
                <input
                        id="title"
                        type="text"
                        class="course-form__input"
                        formControlName="title"
                        placeholder="Text input">
            </div>
        </div>
        <div class="course-form__item">
            <div class="course-form__item-caption">
                <label for="description" class="course-form__label">Description:</label>
                <span class="course-form__required">*required</span>
            </div>
            <div class="course-form__error-container">
                <textarea
                        id="description"
                        type="text"
                        class="course-form__textarea"
                        formControlName="description"
                        placeholder="Add description">
                </textarea>
            </div>
        </div>
        <div class="course-form__item course-form__item_short">
            <div class="course-form__item-caption">
                <label for="duration" class="course-form__label">Duration:</label>
                <span class="course-form__required">*required</span>
            </div>
            <div class="course-form__error-container">
                <input
                        id="duration"
                        type="text"
                        class="course-form__input"
                        formControlName="duration"
                        placeholder="minutes">
            </div>
        </div>
        <div class="course-form__item course-form__item_short">
            <div class="course-form__item-caption">
                <label for="date" class="course-form__label">Date:</label>
                <span class="course-form__required">*required</span>
            </div>
            <div class="course-form__error-container">
                <input
                        id="date"
                        type="text"
                        class="course-form__input"
                        formControlName="date"
                        placeholder="mm-dd-yyyy">
            </div>
        </div>
        <div class="course-form__item course-form__item_middle course-form__item_list">
            <div class="course-form__item-caption">
                <label for="authors" class="course-form__label">Authors:</label>
                <span class="course-form__required">*required</span>
            </div>
            <div class="course-form__error-container">
                <input
                        id="authors"
                        type="text"
                        class="course-form__input"
                        [formControl]="authors"
                        placeholder="Start typing"
                        autocomplete="off"
                        (click)="selectAuthor()">
            </div>
            <div
                    class="course-form__autocomplete"
                    *ngIf="isAutocompleteVisible">
                <div
                        *ngFor="let author of listOfAuthors"
                        class="course-form__autocomplete-item"
                        [ngClass]="isSelected(author) ? 'selected' : ''"
                        (click)="addAuthor(author)">
                    {{ author.name }}
                </div>
            </div>
        </div>
        <div class="course-form__controls">
            <button type="button"
                    class="course-form__button button_decline button" (click)="onCancelClick()">Cancel</button>
            <button
                    class="course-form__button button_success button" type="submit">Save</button>
        </div>
    </form>
</div>

