<div class="add-course-page__container">
    <div class="add-course__content">
        <div class="add-form__container">
            <form  [formGroup]="courseForm"
                   (ngSubmit)="onCourseSubmit()">

                <label for="title">
                    Title:
                    <input
                            formControlName="title"
                            id="title"
                            [class.is-invalid]="title.invalid &&title.touched">
                </label>
                <span
                        class="error"
                        *ngIf="title.hasError('required') && title.touched"
                >*required</span>
                <span
                        class="error"
                        *ngIf="title.hasError('maxlength') && title.touched"
                >the maximum length is 50 characters</span>

                <label for="description">
                    Description:
                    <textarea formControlName="description"
                              id="description"
                              rows="3"
                              [class.is-invalid]="description.invalid && description.touched">
          </textarea>
                </label>
                <span
                        class="error"
                        *ngIf="description.hasError('required') && description.touched"
                >*required</span>
                <span
                        class="error"
                        *ngIf="description.hasError('maxlength') && description.touched"
                >the maximum length is 250 characters</span>

                <app-date-input formControlName="creationDate"></app-date-input>
                <span
                        class="error"
                        *ngIf="creationDate.hasError('required') && creationDate.touched"
                >*required</span>
                <span
                        class="error"
                        *ngIf="creationDate.hasError('dateFormat') && creationDate.touched"
                >the date should be in the format 'mm/dd/yyyy'</span>

                <app-duration-input formControlName="duration"></app-duration-input>
                <span
                        class="error"
                        *ngIf="duration.hasError('required') && duration.touched"
                >*required</span>
                <span
                        class="error"
                        *ngIf="duration.hasError('onlyNumbers') && duration.touched"
                >the duration should contain only numbers allow</span>

                <app-authors-input [authors]="listOfAuthors" formControlName="authors"></app-authors-input>
                <span
                        class="error"
                        *ngIf="authors.hasError('required') && authors.touched"
                >*required</span>
                <span
                        class="error"
                        *ngIf="authors.hasError('minAuthorLength') && authors.touched"
                >please select at least one author</span>
                <div>
                    <button
                            class="add-form__button"
                            type="submit"
                            [disabled]="courseForm.invalid"
                    >Save
                    </button>
                    <button class="add-form__button" (click)="onCancelClick()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>